@media screen and (min-width: 767px) {

  body {
    background-color: white ;
  }
.main {
    padding-left: 274px;
    padding-right: 274px;
}
}

.hero {
    text-align: center;
}


h5 {
    color: black;
    padding-bottom: 5px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.01); }

.emoji {
    cursor: pointer;
}

a:link {
  color: #ffff;
}

a:visited {
  color: #ffff;
}

a:hover {
  color: #ffff;
}

a:active {
  color: #ffff;
}
