  body {
	    font-family: 'Roboto', sans-serif;
	    color: #ffff;
      background: #000000;

         }


.container {
          height: 100%;
          width: 100%;
          display: flex;
          position: fixed;
          align-items: center;
          justify-content: center;
 }


	 h1 {
	  font-size: 40px;
		 font-family: 'Bebas Neue', cursive;
         }


        p {
          font-size: 20px;
        }


	   a {
		 font-size: 16px;

	   }

        a:link {
          color: #ffff;
        }

        a:visited {
          color: #ffff;
        }

        a:hover {
          color: #0cb014;
        }

        a:active {
          color: #ffff;
        }
